# Database env vars
DATABASE_URL=localhost:5432

# Redis env vars
REDIS_URL=localhost:6379

# Client env vars
NEXT_PUBLIC_API_URL=localhost:3000

# AI env vars
ANTHROPIC_API_KEY=<your-secret-key>


RESEND_API_KEY=<your-api-key>
COOKIE_SECRET=<some-secret>
